@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.piechart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 235px;
  position: relative;
}

.piechart_medium_small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 135px;
  position: relative;
}

.chart_inside {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
  margin: 8px;
  top: 35px;
  right: 35px;
  background-color: #1e262f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chart_inside_medium_small {
  width: 85px;
  height: 85px;
  position: absolute;
  border-radius: 50%;
  margin: 8px;
  top: 17px;
  right: 17px;
  background-color: #1e262f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
